# QUEST

* 실습코드를 활용해서, 최근 일주일 간의 일일 박스오피스 50위까지의 데이터를 selenium 과 beautiful soup를 활용해서 가져오는 코드를 작성해주세요 ! 
* 가져온 데이터를 날짜별로 dataframe을 만든 후, sqlite3를 이용해 dailyboxoffice.db 형태로 저장해주세요.
* db 안에는 날짜별로 나눠진 총 7개의 테이블이 포함되어 있어야 합니다. 
* 작성한 코드와 db 파일을 올려주시면 됩니다

codes by. 공채린

In [1]:
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import lxml

In [2]:
options = webdriver.ChromeOptions()

options.add_argument('headless')

options.add_argument('window-size=1920x1080')

path = 'chromedriver.exe'
driver = webdriver.Chrome(path, options=options)
driver.implicitly_wait(3)

In [3]:
driver.get("http://www.kobis.or.kr/kobis/business/stat/boxs/findDailyBoxOfficeList.do?loadEnd=0&searchType=search&sSearchFrom=2019-03-17&sSearchTo=2019-03-24&sMultiMovieYn=&sRepNationCd=&sWideAreaCd=")

driver.implicitly_wait(4)

driver.find_element_by_id("btn_0").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_0").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_0").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_0").click()

daily_boxoffice_html = driver.page_source

In [4]:
daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_24 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_0"})
list_24 = daily_boxoffice_24.find_all("tr")

In [5]:
import pandas as pd

movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_24:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

In [6]:
boxoffice_24 = pd.DataFrame(movies)
boxoffice_24.head()

,영화명,순위 변동,개봉일,매출액,매출액점유율,관객수,누적관객수,스크린수,상영횟수
0,돈,동일,2019-03-20,"3,753,484,160",59.7%,"416,174","1,536,407","1,431","7,433"
1,캡틴 마블,동일,2019-03-06,"1,275,765,220",20.3%,"142,380","5,232,816",947,"3,768"
2,악질경찰,동일,2019-03-20,"427,941,590",6.8%,"46,589","189,604",718,"2,513"
3,우상,동일,2019-03-20,"254,358,090",4.0%,"28,126","137,880",659,"1,884"
4,이스케이프 룸,동일,2019-03-14,"214,363,930",3.4%,"23,494","544,462",491,"1,060"

In [7]:
boxoffice_24.tail()

,영화명,순위 변동,개봉일,매출액,매출액점유율,관객수,누적관객수,스크린수,상영횟수
45,나의 노래: 메아리,New,,"513,300",0.0%,74,74,1,1
46,"동물, 원",2상승,,"484,600",0.0%,70,197,1,1
47,나는 다른 언어로 꿈을 꾼다,4하락,2019-03-07,"557,100",0.0%,70,"3,688",6,7
48,칠곡 가시나들,3하락,2019-02-27,"484,000",0.0%,70,"38,854",7,9
49,SIDOF2019_밤낮/463 Poem of the lost/우리 아버지께,2상승,,"467,000",0.0%,67,119,1,1

In [8]:
driver.find_element_by_id("btn_118").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_118").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_118").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_118").click()

daily_boxoffice_html = driver.page_source

In [9]:
daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_23 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_118"})
list_23 = daily_boxoffice_23.find_all("tr")

In [10]:
movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_23:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

In [11]:
boxoffice_23 = pd.DataFrame(movies)
boxoffice_23.tail()

          영화명 순위 변동         개봉일        매출액 매출액점유율  관객수   누적관객수 스크린수 상영횟수
45      그때 그들   4하락  2019-03-07  1,045,600   0.0%  111   8,014   10   10
46       교회오빠   New  2019-05-16    880,000   0.0%  110     110    1    1
47         방문   1상승                724,500   0.0%  106     136    1    1
48  아라비아의 로렌스   New  1998-10-24    504,000   0.0%  101  10,309    1    1
49     그때 그들1   1상승                735,750   0.0%   92     251    1    1

In [12]:
driver.find_element_by_id("btn_232").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_232").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_232").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_232").click()

daily_boxoffice_html = driver.page_source

In [13]:
daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_22 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_232"})
list_22 = daily_boxoffice_22.find_all("tr")

In [14]:
movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_22:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

In [15]:
boxoffice_22 = pd.DataFrame(movies)
boxoffice_22.tail()

,영화명,순위 변동,개봉일,매출액,매출액점유율,관객수,누적관객수,스크린수,상영횟수
45,해피 데스데이 2 유,동일,2019-02-14,"300,000",0.0%,60,"412,670",1,1
46,나는 다른 언어로 꿈을 꾼다,4상승,2019-03-07,"433,000",0.0%,58,"3,502",8,9
47,로마,5하락,2018-12-12,"383,000",0.0%,57,"42,346",4,4
48,"SIDOF2019_부당, 쓰러지지 않는/보이지 않는 아이들/례",New,,"368,500",0.0%,53,53,1,1
49,히치하이크,5상승,2019-03-14,"306,500",0.0%,53,"1,052",11,16

In [16]:
driver.find_element_by_id("btn_341").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_341").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_341").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_341").click()

daily_boxoffice_html = driver.page_source

daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_21 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_341"})
list_21 = daily_boxoffice_21.find_all("tr")

movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_21:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

    
boxoffice_21 = pd.DataFrame(movies)
boxoffice_21.tail()

            영화명 순위 변동         개봉일      매출액 매출액점유율 관객수    누적관객수 스크린수 상영횟수
45  해피 데스데이 2 유   2상승  2019-02-14  300,000   0.0%  60  412,610    1    1
46     내가 사는 세상   5상승  2019-03-07  203,500   0.0%  55    1,300    9   11
47          페드라   6상승  1996-11-16  108,000   0.0%  54    4,360    1    4
48        엔젤페이스   3상승  2019-03-14  361,000   0.0%  54      927    9   10
49   메리 포핀스 리턴즈   3하락  2019-02-14  250,000   0.0%  50  223,510   10   10

In [17]:
driver.find_element_by_id("btn_431").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_431").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_431").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_431").click()

daily_boxoffice_html = driver.page_source

daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_20 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_431"})
list_20 = daily_boxoffice_20.find_all("tr")

movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_20:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

    
boxoffice_20 = pd.DataFrame(movies)
boxoffice_20.tail()

            영화명 순위 변동         개봉일      매출액 매출액점유율 관객수    누적관객수 스크린수 상영횟수
45           로마   4하락  2018-12-12  615,500   0.0%  74   42,101    3    3
46   메리 포핀스 리턴즈   9하락  2019-02-14  314,000   0.0%  62  223,460   10   11
47  해피 데스데이 2 유   2하락  2019-02-14  300,000   0.0%  60  412,550    1    1
48        일일시호일   6상승  2019-01-17  367,000   0.0%  57   40,953    3    3
49      송곳니 감독판   0상승              460,000   0.0%  56      972    2    2

In [18]:
driver.find_element_by_id("btn_526").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_526").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_526").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_526").click()

daily_boxoffice_html = driver.page_source

daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_19 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_526"})
list_19 = daily_boxoffice_19.find_all("tr")

movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_19:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

    
boxoffice_19 = pd.DataFrame(movies)
boxoffice_19.tail()

            영화명 순위 변동         개봉일      매출액 매출액점유율 관객수    누적관객수 스크린수 상영횟수
45        히치하이크   4하락  2019-03-14  440,000   0.0%  60      924   18   25
46  해피 데스데이 2 유   0하락  2019-02-14  300,000   0.0%  60  412,490    1    1
47     살인마 잭의 집   2상승  2019-02-21  487,000   0.0%  56   11,232    5    5
48        그린 맨션   0하락              110,000   0.0%  55    5,786    1    3
49     맨발의 백작부인   1하락              104,000   0.0%  52    3,901    1    4

In [19]:
driver.find_element_by_id("btn_622").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_622").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_622").click()

driver.implicitly_wait(2)

driver.find_element_by_id("btn_622").click()

daily_boxoffice_html = driver.page_source

daily_boxoffice_parsed = bs(daily_boxoffice_html, 'html.parser')
daily_boxoffice_18 = daily_boxoffice_parsed.find("tbody", {"id": "tbody_622"})
list_18 = daily_boxoffice_18.find_all("tr")

movies = {'영화명' : [],
'순위 변동' : [],
'개봉일' : [],
'매출액' : [],
'매출액점유율' : [],
'관객수' : [],
'누적관객수' : [],
'스크린수' : [],
'상영횟수' : []}

for movie in list_18:
    title_rank = movie.find("td").find_next_sibling("td").text
    movies['영화명'].append(title_rank[:-5].strip())
    movies['순위 변동'].append(title_rank[-4:].strip())
    movies['개봉일'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['매출액점유율'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['누적관객수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['스크린수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())
    movies['상영횟수'].append(movie.find("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").find_next_sibling("td").text.strip())

    
boxoffice_18 = pd.DataFrame(movies)
boxoffice_18.tail()

         영화명 순위 변동         개봉일      매출액 매출액점유율 관객수    누적관객수 스크린수 상영횟수
45        로마   2하락  2018-12-12  221,960   0.0%  34   41,909    3    4
46  자전차왕 엄복동   0상승  2019-02-27  204,000   0.0%  32  170,318    5    5
47        포항   3상승  2019-02-27  273,000   0.0%  31    1,034    2    2
48  맨발의 백작부인   6상승               60,000   0.0%  30    3,849    1    4
49   옆자리 괴물군   New              261,000   0.0%  28       28    1    1

In [20]:
import sqlite3
con = sqlite3.connect("quest_boxoffice.db")

In [21]:
con.execute("CREATE TABLE boxoffice_24 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_24.to_sql("boxoffice_24", con, chunksize=1000, if_exists='replace')

C:\Users\rin46\Anaconda3\envs\py3\lib\site-packages\pandas\core\generic.py:2532: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [22]:
con.execute("CREATE TABLE boxoffice_23 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_23.to_sql("boxoffice_23", con, chunksize=1000, if_exists='replace')

In [23]:
con.execute("CREATE TABLE boxoffice_22 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_22.to_sql("boxoffice_22", con, chunksize=1000, if_exists='replace')

In [24]:
con.execute("CREATE TABLE boxoffice_21 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_21.to_sql("boxoffice_21", con, chunksize=1000, if_exists='replace')

In [25]:
con.execute("CREATE TABLE boxoffice_20 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_20.to_sql("boxoffice_20", con, chunksize=1000, if_exists='replace')

In [26]:
con.execute("CREATE TABLE boxoffice_19 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_19.to_sql("boxoffice_19", con, chunksize=1000, if_exists='replace')

In [27]:
con.execute("CREATE TABLE boxoffice_18 (title text, rank int, open text, earning int, earning_share text, audiences int, total_audiences int, num_screen int, num_play int)")
boxoffice_18.to_sql("boxoffice_18", con, chunksize=1000, if_exists='replace')

In [28]:
con.commit()
con.close()

In [30]:
### 데이터베이스에 무사히 저장되었는지 확인하기 ###

con = sqlite3.connect("quest_boxoffice.db")

cursor = con.cursor()

cursor.execute("SELECT * FROM boxoffice_20")

data = cursor.fetchall()

pd.DataFrame(data).head()

,0,1,2,3,4,5,6,7,8,9
0,0,돈,3상승,2019-03-20,"1,369,138,680",54.4%,"165,833","254,180","1,146","5,258"
1,1,캡틴 마블,1하락,2019-03-06,"395,671,940",15.7%,"46,019","4,801,320",729,"2,840"
2,2,악질경찰,9상승,2019-03-20,"270,162,120",10.7%,"33,072","36,155",833,"3,059"
3,3,우상,4상승,2019-03-20,"222,873,850",8.9%,"27,175","36,681",900,"2,892"
4,4,이스케이프 룸,3하락,2019-03-14,"101,006,850",4.0%,"12,025","470,778",513,"1,196"

In [31]:
cursor.execute("SELECT * FROM boxoffice_19")

data = cursor.fetchall()

pd.DataFrame(data).tail()

     0            1    2           3        4     5   6        7   8   9
45  45        히치하이크  4하락  2019-03-14  440,000  0.0%  60      924  18  25
46  46  해피 데스데이 2 유  0하락  2019-02-14  300,000  0.0%  60  412,490   1   1
47  47     살인마 잭의 집  2상승  2019-02-21  487,000  0.0%  56   11,232   5   5
48  48        그린 맨션  0하락              110,000  0.0%  55    5,786   1   3
49  49     맨발의 백작부인  1하락              104,000  0.0%  52    3,901   1   4